* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    background-color: #fbfbfb;
    font-family: 'Source Sans Pro',sans-serif;
    color: black;
    overflow-y: scroll;
}

body {
    background-color: #fefefe;
    color: #555;
    width: 96%;
    max-width: 750px;
    margin: auto;
    margin-top: 30px;
    font-size: 0.9em;
    border: 2px solid #fefefe;
    border-radius: 35px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.08);
}

.container {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 30px;
    padding: 20px 30px 30px 30px;
    border-bottom: 2px solid #eee;
}

.language {
    float: right;
}
.language ul {
    list-style-type: none;
}
.language li, .language .read {
    display: inline-block;
    padding: 0 5px;
}
.language .read {
    position: sticky;
    top: 0;
    z-index: 2;
    color: #ff1a47;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ffb3c6;
    width: 9.5em;
    height: 2.5em;
    margin-right: 20px;
    border: 4px solid #ff4066;
    border-radius: 8px;
}
.language a {
    color: #1aa3ff;
    text-decoration: none;
    font-size: 0.8em;
}
.important {
    display: none;
    position: absolute;
    top: 76px;
    background-color: #ffb3c6;
    color: #555;
    font-size: 1em;
    max-width: 750px;
    max-height: 100%;
    margin: auto;
    padding: 30px;
    border: 9px solid #ff4066;
    border-radius: 35px;
    z-index: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.important::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.drPharm {
    background-color: #ff809f;
    font-size: 1.8em;
    text-align: center;
    max-width: 750px;
    margin: auto;
    margin-bottom: 10px;
    padding: 30px;
    border: 9px solid #ff4066;
    border-radius: 35px;
}
.contact {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    max-width: 750px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border: 5px solid #ff4066;
    border-radius: 25px;
}
.important ul {
    font-size: 1.2em;
    margin-top: 20px;
}
.literature {
    margin-top: 30px;
}
.important a {
    color: #007acc;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #fefefe;
}
#weightInput {
    color: #80ccff;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    width: 95px;
    height: 75px;
    border: 5px solid #ddd;
    border-radius: 11px;
    margin: 0px 0 0px 50px;
    transition: border 0.3s, color 0.3s;
}
#weightInput:focus {
    color: #555;
    border-bottom: 5px solid #1aa3ff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.inputDiv {
    margin-left: 30px;
}
.inputDiv, .result {
    padding-top: 3px;
    padding-bottom: 3px;
}
.unit {
    font-weight: bold;
    margin: 10px;
}
.inlineDiv {
    display: inline-block;
}

.result {
    background-color: #fefefe;
    margin: auto;
    font-size: 1.2em;
    padding: 20px;
    border: 2px solid #fefefe;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.04);
}



.tableHead, .paracetamol, .ibuBtn, .ibu100, .ibu200, .suppo, .suppDrug, .eff80, .eff150, .febricetSupp {
    display: none;
}
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
table .paracetamol:hover {
    background-color: #fafafa;
}
table th {
    color: #999;
    font-size: 0.6em;
    padding: 1px 0 10px;
}
table td {
    padding: 15px 7px;
    text-align: center;
}
table .ibuBtn td {
    padding-top: 20px;
    padding-bottom: 0;
}
table .resultPholder td {
    font-size: 1.2em;
    font-weight: bold;
    padding: 50px;
    -webkit-animation: pholderPulse 3s infinite;
    animation: pholderPulse 3s infinite;
}
-webkit-@keyframes pholderPulse {
        0% {background-color: #fefefe;}
        3% {background-color: #fafafa;}
        90% {background-color: #fefefe;}
    }
@keyframes pholderPulse {
        0% {background-color: #fefefe;}
        3% {background-color: #fafafa;}
        90% {background-color: #fefefe;}
    }

table .drug {
    text-align: left;
    padding-left: 25px;
}
table .interval {
    font-size: 0.8em;
}
table .accent, .accent {
    font-size: 1.2em;
    font-weight: bold;
}

.ibu100blue {
    color: #1aa3ff;
    font-weight: bold;
}
.ibu200red {
    color: #ff4066;
    font-weight: bold;
}
table .dMax {
    color: #1aa3ff;
    font-size: 2.2em;
    font-weight: bold;
}
table .dMin, .ibu200 .dMin {
    font-size: 1.3em;
}
.ibu200 .dMax {
    color: #ff4066;
}

button {
    color: #555;
    height: 3em;
    width: 12em;
    font-size: 0.9em;
    border: 1px solid #fefefe;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
button:hover, .suppGeneral:hover {
    cursor: pointer;
}
.calcBtn {
    display: none;
    background-color: #eee;
    color: #555;
    font-size: 1.2em;
    text-align: center;
    width: 195px;
    height: 55px;
    border: 5px solid #ddd;
    border-radius: 11px;
    margin: 10px 0 0px 50px;
}
.btn100, .ibu100 {
    background-color: #e6f5ff; /* 95% */
    
}
.btn200, .ibu200 {
    background-color: #ffe6eb; /* 95% */
}




.suppo {
    padding: 30px 7px;
    padding-left: 25px;
    width: 100%;
}
.suppo div {
    margin-bottom: 30px;
}
.suppGeneral {
    width: 36%;
    float: left;
}
.suppDrug {
    width: 60%;
    float: left;
    padding-left: 20px;
}
.eff80 {
    background-color: #ffe6eb;
    padding: 10px;
    border: 1px solid #ffe6eb;
    border-radius: 13px;
}
.eff150 {
    background-color: #e6f5ff;
    padding: 10px;
    border: 1px solid #e6f5ff;
    border-radius: 13px;
}








footer {
    position: relative;
    position: sticky;
    bottom: -50px;
    width: 90%;
    margin: auto;
    font-size: 0.7em;
    background-color: rgba(255,255,255,0.95);
    color: #aaa;
    border-top: 1px solid #eee;
    padding: 10px 0px 59px 30px;
}
.footerTxt a, .footerTxt a:visited, .footerTxt a:hover {
    display: table-cell;
    color: #aaa;
    vertical-align: baseline;
    text-decoration: none;
}







@media only screen and (max-width: 769px) {
    .calcBtn {
        display: block;
    }
    .container {
        width: 98%;
        margin: auto;
        margin-bottom: 20px;
    }
    .sticky {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        padding-top: 3px;
        padding-bottom: 10px;
        border-bottom: 3px solid #eee;
        border-radius: 11px;
    }
}

@media only screen and (max-width: 696px) {
    html {
        font-size: 3.5vw;
    }
    .btn100, .btn200 {
        width: 21.5vw;
    }
    .ibuBtn {
        letter-spacing: -0.3vw;
    }
    table .ibuBtn td {
        padding-top: 5px;
        /*padding-bottom: 0;*/
}
    .small {
        font-size: 3vw;
        letter-spacing: -0.3vw;
    }
    table .dMin, table .dMax {
        font-size: 4vw;
        width: 20%;
        /*font-weight: bold;*/
    }
    table {
        table-layout: fixed;
    }
    table td {
        padding: 2vw;
    }
    table .drug {
        /*text-align: left;*/
        padding-left: 2vw;
        width: 35%;
    }
    table .intervalHead {
        width: 35%;
    }
    table .interval {
        font-size: 3.5vw;
    }
    table .dash {
        width: 3%;
    }
    .suppo {
    /*padding: 30px 7px;*/
    padding-left: 10px;
    /*width: 100%;*/
}
}



/*
COLORS:
-------------

PINK

#ff4066

98%     #fff7f9

BLUE 

95% 		 #e6f5ff
90% 		 #ccebff
85% 		 #b3e0ff
80% 		 #99d6ff
75% 		 #80ccff
70% 		 #66c2ff
65% 		 #4db8ff
60% 		 #33adff
55% 		 #1aa3ff  a
		
50% 	 #0099ff
		
45% 		 #008ae6
40% 		 #007acc
35% 		 #006bb3
30% 		 #005c99
25% 		 #004d80
20% 		 #003d66
15% 		 #002e4d
10% 		 #001f33
5% 		 #000f1a



*/